.size {
  --text-sm: 1rem;
  --text-base: 1.05rem;
  --text-lg: 1.1rem;
  --text-xl: 1.15rem;
  --text-2xl: 1.2rem;
  --text-3xl: 1.25rem;
  --text-4xl: 1.3rem;
  --text-5xl: 1.35rem;
  --page-header: 3.5rem;
  --event-text: 2.5rem;
  --event-number: 6rem;
}

@media (min-width: 360px) {
  .size {
    --text-sm: 1.1rem;
    --text-base: 1.15rem;
    --text-lg: 1.2rem;
    --text-xl: 1.25rem;
    --text-2xl: 1.3rem;
    --text-3xl: 1.35rem;
    --text-4xl: 1.4rem;
    --text-5xl: 1.45rem;
    --page-header: 4rem;
    --event-text: 3rem;
    --event-number: 8rem;
  }
}

@media (min-width: 480px) {
  .size {
    --text-sm: 1.2rem;
    --text-base: 1.25rem;
    --text-lg: 1.3rem;
    --text-xl: 1.35rem;
    --text-2xl: 1.4rem;
    --text-3xl: 1.45rem;
    --text-4xl: 1.5rem;
    --text-5xl: 1.55rem;
    --page-header: 4.5rem;
    --event-text: 4rem;
    --event-number: 10rem;
  }
}

@media (min-width: 640px) {
  .size {
    --text-sm: 1.3rem;
    --text-base: 1.35rem;
    --text-lg: 1.4rem;
    --text-xl: 1.45rem;
    --text-2xl: 1.5rem;
    --text-3xl: 1.55rem;
    --text-4xl: 1.6rem;
    --text-5xl: 1.65rem;
    --page-header: 5rem;
    --event-text: 5.5rem;
    --event-number: 14rem;
  }
}

@media (min-width: 768px) {
  .size {
    --text-sm: 1.4rem;
    --text-base: 1.45rem;
    --text-lg: 1.5rem;
    --text-xl: 1.55rem;
    --text-2xl: 1.6rem;
    --text-3xl: 1.65rem;
    --text-4xl: 1.7rem;
    --text-5xl: 1.75rem;
    --page-header: 5.5rem;
    --event-text: 6rem;
    --event-number: 15rem;
  }
}

@media (min-width: 1024px) {
  .size {
    --text-sm: 1.5rem;
    --text-base: 1.55rem;
    --text-lg: 1.6rem;
    --text-xl: 1.65rem;
    --text-2xl: 1.7rem;
    --text-3xl: 1.75rem;
    --text-4xl: 1.8rem;
    --text-5xl: 1.85rem;
    --page-header: 6rem;
    --event-text: 6.5rem;
    --event-number: 16rem;
  }
}

@media (min-width: 1280px) {
  .size {
    --text-sm: 1.6rem;
    --text-base: 1.65rem;
    --text-lg: 1.7rem;
    --text-xl: 1.75rem;
    --text-2xl: 1.8rem;
    --text-3xl: 1.85rem;
    --text-4xl: 1.9rem;
    --text-5xl: 1.95rem;
    --page-header: 6.5rem;
    --event-text: 7rem;
    --event-number: 17.5rem;
  }
}

@media (min-width: 1536px) {
  .size {
    --text-sm: 1.7rem;
    --text-base: 1.75rem;
    --text-lg: 1.8rem;
    --text-xl: 1.85rem;
    --text-2xl: 1.9rem;
    --text-3xl: 1.95rem;
    --text-4xl: 2rem;
    --text-5xl: 2.05rem;
    --page-header: 7rem;
    --event-text: 7.5rem;
    --event-number: 19rem;
  }
}

@media (min-width: 1920px) {
  .size {
    --text-sm: 1.8rem;
    --text-base: 1.85rem;
    --text-lg: 1.9rem;
    --text-xl: 1.95rem;
    --text-2xl: 2rem;
    --text-3xl: 2.05rem;
    --text-4xl: 2.1rem;
    --text-5xl: 2.15rem;
    --page-header: 7.5rem;
    --event-text: 8rem;
    --event-number: 20rem;
  }
}

.eventText {
  font-size: var(--event-text);
}

.eventNumber {
  font-size: var(--event-number);
}

.pageHeader {
  font-size: var(--page-header);
}

.typography {
  color: oklch(98.5% 0 0);
  font-family: var(--font-auro), sans-serif;
  line-height: 1;
}

/* HERO + HEADER */
.hero,
.header {
  font-weight: 900;
}

/* TITLE */
.title {
  font-weight: 800;
}

/* SUBTITLE */
.subtitle {
  font-weight: 700;
}

/* SECTION + SUBSECTION */
.sectionTitle,
.subsectionTitle {
  font-weight: 600;
}

.sectionSubtitle,
.subsectionSubtitle {
  font-weight: 500;
}

/* PARAGRAPH */
.paragraph {
  font-weight: 400;
  color: oklch(97% 0 0);
}
