.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 8;
}

.tlflair {
  position: absolute;
  left: -5.75%;
  bottom: 23%;
  width: 2.75rem;
  height: auto;
}

.brflair {
  position: absolute;
  right: -1%;
  bottom: 2%;
  width: 2rem;
  height: auto;
}

@media (min-width: 360px) {
  .tlflair {
    left: -12%;
    bottom: 24%;
    width: 3rem;
  }
  .brflair {
    right: -7%;
    bottom: 0%;
    width: 2.25rem;
  }
}

@media (min-width: 480px) {
  .tlflair {
    left: -8%;
    bottom: 27%;
    width: 3.25rem;
  }
  .brflair {
    right: -6%;
    bottom: 3%;
    width: 3rem;
  }
}

@media (min-width: 640px) {
  .tlflair {
    left: -8.75%;
    bottom: 26%;
    width: 4.5rem;
  }
  .brflair {
    right: -6%;
    bottom: 4%;
    width: 4rem;
  }
}

@media (min-width: 768px) {
  .tlflair {
    left: -5.5%;
    bottom: 24%;
    width: 5.5rem;
  }
  .brflair {
    right: -3.5%;
    bottom: 4%;
    width: 5rem;
  }
}

@media (min-width: 1024px) {
  .tlflair {
    left: 1.75%;
    bottom: 21%;
    width: 7rem;
  }
  .brflair {
    right: 4%;
    bottom: 4%;
    width: 6rem;
  }
}

@media (min-width: 1280px) {
  .tlflair {
    left: -1.5%;
    bottom: 17.5%;
    width: 9rem;
  }
  .brflair {
    right: 0%;
    bottom: -2%;
    width: 8rem;
  }
}

@media (min-width: 1536px) {
  .tlflair {
    left: -3%;
    bottom: 16%;
    width: 10rem;
  }
  .brflair {
    right: -1%;
    bottom: -3%;
    width: 8.5rem;
  }
}

@media (min-width: 1920px) {
  .tlflair {
    left: -8.5%;
    bottom: 13%;
    width: 12rem;
  }
  .brflair {
    right: -3.5%;
    bottom: -2.5%;
    width: 9rem;
  }
}
