.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 8;
  width: 340px;
}

.tlflair {
  position: absolute;
  left: 0%;
  bottom: 24%;
  width: 2.75rem;
  height: auto;
}

.brflair {
  position: absolute;
  right: 0.5%;
  bottom: -2%;
  width: 3rem;
  height: auto;
}

@media (min-width: 360px) {
  .tlflair {
    left: 2%;
    bottom: 25%;
    width: 2.75rem;
  }
  .brflair {
    right: 3%;
    bottom: -2%;
    width: 3rem;
  }
  .headerContainer {
    width: 400px;
  }
}

@media (min-width: 640px) {
  .tlflair {
    left: -3.5%;
    bottom: 16%;
    width: 4.6rem;
  }
  .brflair {
    right: -1%;
    bottom: -0.6rem;
    width: 4.4rem;
  }
  .headerContainer {
    width: 450px;
  }
}

@media (min-width: 768px) {
  .tlflair {
    left: -4.5%;
    bottom: 16%;
    width: 5.45rem;
  }
  .brflair {
    right: -1%;
    bottom: -0.7rem;
    width: 4.8rem;
  }
  .headerContainer {
    width: 500px;
  }
}

@media (min-width: 1024px) {
  .tlflair {
    left: -5.5%;
    bottom: 14%;
    width: 6.3rem;
  }
  .brflair {
    right: -2%;
    bottom: -9%;
    width: 5.2rem;
  }
  .headerContainer {
    width: 550px;
  }
}

@media (min-width: 1280px) {
  .tlflair {
    left: -6.5%;
    bottom: 14%;
    width: 7.15rem;
  }
  .brflair {
    bottom: -10%;
    width: 5.6rem;
  }
  .headerContainer {
    width: 600px;
  }
}

@media (min-width: 1536px) {
  .tlflair {
    left: -12%;
    bottom: 11%;
    width: 8rem;
  }
  .brflair {
    right: -6%;
    bottom: -10%;
    width: 6rem;
  }
}

@media (min-width: 1920px) {
  .tlflair {
    left: -17%;
    bottom: 11%;
    width: 8.85rem;
  }
  .brflair {
    right: -10%;
    bottom: -10%;
    width: 6.4rem;
  }
}
