.bar {
  display: block;
  width: 24px;
  height: 2px;
  background: aliceblue;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.openTop {
  transform: rotate(45deg) translate(5px, 5px);
}
.openMid {
  opacity: 0;
}
.openBot {
  transform: rotate(-45deg) translate(5px, -5px);
}

.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 40;
}

.backdropOpen {
  opacity: 1;
  pointer-events: auto;
}

.drawer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 70%;
  max-width: 280px;
  background: var(--background);
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 50;
  overflow: hidden;
  isolation: isolate;
}

.drawer::before {
  content: "";
  position: absolute;
  inset: -40px;
  z-index: -1;
  pointer-events: none;

  background-image: var(--bg-image);
  background-repeat: repeat;
  background-size: 120px;
  opacity: 0.2;
  pointer-events: none;
}

.drawerOpen {
  transform: translateX(0);
}

.drawerClosed {
  transform: translateX(-100%);
}

@keyframes rotateBg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
