/* @keyframes marquee {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(0);
    animation-timing-function: ease;
  }
  90% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(-100vw);
  }
} */

@keyframes marquee {
  0% {
    transform: translateX(0);
    animation-timing-function: ease;
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee {
  animation: marquee 10s linear infinite;
}
